<mat-toolbar >
    <mat-toolbar-row>
      <button mat-icon-button (click)="togglesidebar()">
        <mat-icon >menu</mat-icon >
      </button>
      <a href="/dashboard"><span><img src="../../../../assets/CMSLogo.jpg" style="height: 49px; padding-top: 8px; padding-left: 8px;" alt=""></span></a>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                <button mat-icon-button>
                  <mat-icon>mail</mat-icon>
                </button>
              </li>
              <li>
                <button mat-icon-button>
                  <mat-icon>help_outline</mat-icon>
                </button>
              </li>
              <li>
                  <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                  </button>
                        <mat-menu #menu="matMenu">
                          <button (click)="logout()" mat-menu-item >
                            <mat-icon>exit_to_app</mat-icon>
                            Sign Out
                          </button>

                        </mat-menu>
              </li>
          </ul>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
