<div class="container">
<div class="head" mat-dialog-title>
  <h1>Ajouter Telephone</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field class="outline">
          <mat-label>Name</mat-label>
          <input matInput  placeholder="Nom" formControlName="name">
        </mat-form-field>
        <mat-form-field class="outline">
          <mat-label>Marque</mat-label>
          <input matInput  placeholder="Marque" formControlName="marque">
        </mat-form-field>
        <mat-form-field class="outline">
          <mat-label>No.Serie</mat-label>
          <input matInput placeholder="Numero Serie" formControlName="numero_serie">
        </mat-form-field>
        <mat-form-field class="outline">
          <mat-label>Model</mat-label>
          <input matInput  placeholder="Model" formControlName="model">
        </mat-form-field>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Etat</mat-label>
            <mat-select formControlName="etat">
              <mat-option selected value="Neuf">
                Neuf
              </mat-option>
              <mat-option selected value="Bon Etat">
                Bon Etat
              </mat-option>
              <mat-option selected value="Etat moyen">
                Etat Moyen
              </mat-option>
              <mat-option selected value="Reconditionné">
                Reconditionné
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field class="outline">
          <mat-label>Montant</mat-label>
          <input matInput placeholder="Montant" formControlName="montant">
        </mat-form-field>
        <mat-form-field class="outline">
          <mat-label>No.Facture</mat-label>
          <input matInput placeholder="Numero facture" formControlName="numero_facture" value="telephone.numero_facture">
        </mat-form-field>
        <mat-form-field class="outline">
          <mat-label>Date D'acquisition</mat-label>
          <input matInput type="date" placeholder="Date" formControlName="date_acquisition">
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="action">
        <button mat-raised-button mat-dialog-close color="warn">
          close
        </button>
        <button mat-raised-button type="submit" color="primary" >Save</button>
      </div>
    </div>
</form>
</div>
