<div class="container">
<div class="head" mat-dialog-title>
  <h1>Ajouter Telephone</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Nom Abonnement</mat-label>
            <mat-select formControlName="nom">
              <mat-option selected value="Orange">
                Orange
              </mat-option>
              <mat-option selected value="Inwi">
                Inwi
              </mat-option>
              <mat-option selected value="Maroc Telecom">
                Maroc Telecom
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Forfeit</mat-label>
            <mat-select formControlName="forfeit">
              <mat-option selected value="Illimité">
                Illimité
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field class="outline">
          <mat-label>Montant</mat-label>
          <input matInput  placeholder="Montant" formControlName="montant">
        </mat-form-field>
        <mat-form-field class="outline">
          <mat-label>Remise</mat-label>
          <input matInput placeholder="remise" formControlName="remise">
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="action">
        <button mat-raised-button mat-dialog-close color="warn">
          close
        </button>
        <button mat-raised-button type="submit" color="primary" >Save</button>
      </div>
    </div>
</form>
</div>