.content {
  padding-top: 10px;
  width: 100%;
}
.row{
  width: 100% !important;
 gap: 10px;
 display: flex;
 flex-direction: column;
 
  mat-form-field {
    width: 100%;
  }
}

.head {
  padding-bottom: 4%;
}

.action {
  padding: 0px 25px 20px;
  button {
    display: flex;
    flex: 1;
    max-width: 100px;
    margin-left: 88%;
  }
}
