
mat-form-field{
  display: flex;
}

.example-form{
  padding-top: 5%;
}

.div{
  height: 150%;
  padding-left:19%;
  padding-top: 2%;
}

.button {
  margin-left: 70%;
  padding-top: 10%;
  display: flex ;
}

.r {
  margin-left: 15px;
}
h1 {
  margin-left: 15px;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
